@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');


html,
body {
    height: 100vh;
    font-family: "Poppins", 'sans-serif';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;      
}

/* body*/

body{
    width: 940px;
    margin: 0 auto;    
    padding: 0;
    position:relative;
    box-sizing: border-box;
    background-color: rgb(243, 238, 238);
}

/* logo*/

.logo {
    margin-top: 2rem;  
    height: 5rem; 
    padding-left: 18rem;    
}

/* tela*/

#tela{
    border: groove 2px rgb(3, 2, 28);
    background: rgb(215, 223, 227);   
    border-radius: 20px;
    margin: 10px;
}

#tela:active {
    border-color: #088c19;
}

#tela:hover {
    border-color: #c78c19;
}

/* buttons*/

#buttons {
    display:inline-block;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;    
    padding-left: 200px;    
}

.button-over, .button-home {
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid #02111e;    
}

.button-over, .button-home {
    background-color: #02111e;
    color: white;
    width: 250px;
    padding-left: 0px;
    font-size: 16px;
    height: 40px;
}

.button-over:hover {
    cursor: pointer;
    background-color: rgba(4, 9, 26, 0.75);
    transform: translateY(-2px);
}

.button-home:hover {
    cursor: pointer;
    background-color: rgba(4, 9, 26, 0.75);
    transform: translateY(-2px);
}


.button-over {
    margin-right: 2px;    
}

.button-home {
    margin-left: 2px;
}

/* footer*/

footer {
    width: 100%;
    display: flex;       
    color: rgb(15, 15, 15);
    font-size: 14px;
    letter-spacing: 1px;    
    text-align: center;    
    padding: 60px 0;    
}

.copyright {
    margin: auto ;
    justify-content: center;
}

.redes {
    margin: auto 6px;
    justify-content: flex-end;
}

.icon {
    vertical-align: middle;
    cursor: pointer;
    width: 25px;
    height: auto;
}

.icon{
    border: groove 2px rgb(3, 2, 28);       
    border-radius: 20px;    
}

.icon:hover {
    transform: scale(1.1);
    border-color: #c78c19;    
}


.icon:active {
    border-color: #088c19;
}

/* Responsive*/

@media screen and (max-width: 700px) {

    footer {
    font-size: 10px;
    }

    .imgRedes {
    width: 14px;
    height: auto;
    }

}